*{
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.25em;
    font-weight: 400;
    letter-spacing: 0.15em;
    color: #FFF;
    background: #2E2E2E;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
main {
    flex: 1 1 auto;
}
h1 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.1em;
}
a {
    text-decoration: none;
}
button {
    padding: 0;
    border: none;
    cursor: pointer;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button,
a {
    transition: all 0.3s ease-in-out;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}
.timer-btn {
    display: inline-block;
    padding: 15px 60px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1em;
    border-radius: 36px;
    color: #FFF;
    background: #E9B121;
}
.timer-btn:hover {
    color: #2E2E2E;
    background: #FFF;
}
/* Timer */
.timer {
    padding: 40px 0;
}
.preview-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timer-wrapper > * {
    margin-bottom: 30px;
}
.timer-count {
    display: flex;
    align-items: center;
}
.currently-timer {
    display: none;
}
.timer-count span {
    display: flex;
    justify-content: center;
    width: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2em;
}
.help-btns {
    display: none;
    align-items: center;
    justify-content: center;
}
.help-btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #383838;
}
.help-btns button img {
    width: 25px;
    height: 25px;
}
.play img {
    position: relative;
    left: 1px;
}
.stop img {
    position: relative;
    top: 2px;
}
.lap-results {
    padding: 20px;
    border: 1px solid #FFF;
}
.results-list {
    display: flex;
    flex-direction: column-reverse;
}
.results-item {
    position: relative;
    margin-top: 20px;
}
.lap-results {
    display: none;
}
.lap-count {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-105px, -50%);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25em;
}
.results-list.over-100 .lap-count {
    transform: translate(-120px, -50%);
}
.results-list.over-1000 .lap-count {
    transform: translate(-130px, -50%);
}
.lap-count span {
    width: auto;
    font-size: 20px;
    margin-left: 10px;
}

@media(max-width: 640px) {
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 30px;
    }
    .timer-wrapper > * {
        margin-bottom: 20px;
    }
    .timer-count span {
        width: 25px;
        font-size: 16px;
    }
    .lap-count {
        display: none;
    }
}